body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  color: rgb(34, 34, 34);
}

a:hover {
  color: white;
}

button:active {
  color: black;
  animation: spin .25s;
}

.font {
  font-family: 'Notable', sans-serif;
}

.no-interact {
  user-select: none;
  pointer-events: none;
}

.spin {
  animation-name: spin;
  animation-duration: 100ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}